<!-- Menu for other selections -->
<div class="pb-2">
    <a asp-controller="home" asp-action="Flowers">Flowers</a>
</div>
<div class="pb-2">
    <a asp-controller="home" asp-action="Seashore">Seashore</a>
</div>
<div class="pb-2">
    <a asp-controller="home" asp-action="Christmas">Christmas</a>
</div>
<div class="pb-2">
    <a asp-controller="home" asp-action="Religious">Religious</a>
</div>
<div class="pb-2">
    <a asp-controller="home" asp-action="Misc">Misc</a>
</div>