@{
    var folders = Directory.GetDirectories(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot/Gallery", ""))
                           .Select(folder => System.IO.Path.GetFileName(folder))
                           .ToList();

    // The background image (defaults to background.webp, but .png and .jpg are also valid extensions)
    string backgroundImage = "gallery/background.webp";

    // Checks to ensure a file named "background-home" exists with one of the listed extensions and then uses
    // the first matched filename based on the listing order below to create the correct imagePath string.
    string[] imageExtensions = { ".webp", ".png", ".jpg" };

    // Loop through possible extensions
    foreach (var extension in imageExtensions)
    {
        var imagePath = $"gallery/background{extension}";
        if (System.IO.File.Exists(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", imagePath)))
        {
            // There is a Match
            backgroundImage = imagePath;
            break;
        }
    }
}

<div class="text-center mt-3">
    <h2 class="text-white">Galleries</h2>
</div>

<div class="container text-center">
    <div class="row gx-0 gx-lg-4 justify-content-center row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-auto  g-1 g-lg-3 mb-3">
        @foreach (var folder in folders)
        {
            <div class="col menu-item" data-viewName="@folder">
                <div class="bg-light text-center p-0 border border border-dark rounded">
                    <a style="text-decoration: none;" class="menu-link bg-light text-black w-100" asp-controller="@folder">@folder</a>
                </div>
            </div>
        }
    </div>
</div>

<!-- Replaces the background-image to: "../gallery/background.{extension}" where extension
 is either webp, png, or jpg); no image is shown if file does not exist -->
<script>
    $("body").css("background-image", "url('@Url.Content(backgroundImage)')");
</script>

