@{
    var filter = "*.*";
    string currentAction = ViewContext.RouteData.Values["action"]?.ToString() ?? "";
    var viewName = ViewData["ViewName"]?.ToString() ?? currentAction;
    string currentController = ViewContext.RouteData.Values["controller"]?.ToString() ?? "Home";
    var contentPath = System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", currentAction, currentController);
    var allFiles = Directory.GetFiles(System.IO.Path.Combine(contentPath, viewName), filter);
    var files = allFiles
        .Where(file =>
            !System.IO.Path.GetFileName(file).StartsWith("background", StringComparison.OrdinalIgnoreCase) &&
            (System.IO.Path.GetExtension(file).Equals(".png", StringComparison.OrdinalIgnoreCase) ||
             System.IO.Path.GetExtension(file).Equals(".jpg", StringComparison.OrdinalIgnoreCase) ||
             System.IO.Path.GetExtension(file).Equals(".webp", StringComparison.OrdinalIgnoreCase)))
        .Select(file => $"~/{System.IO.Path.Combine(currentAction, currentController, viewName, System.IO.Path.GetFileName(file)).Replace("\\", "/")}")
        .ToList();    

    string backgroundImage_default = $"../gallery/background-default.webp";
    string[] imageExtensions = { ".webp", ".png", ".jpg" };
    string backgroundImage = null;
    foreach (var extension in imageExtensions)
    {
        var imagePath = $"gallery/{currentController}/{viewName}/background{extension}";
        if (System.IO.File.Exists(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", imagePath)))
        {
            backgroundImage = imagePath;
            break;
        }
    }
    if (backgroundImage == null)
    {
        backgroundImage = backgroundImage_default;
    }
}

<partial name="GalleryMenu" />

<div class="container">
    <button type="button" onclick="topFunction()" id="top-button" title="Go to top">Top</button>
    <div id="images-container" class="row g-0 g-lg-4">
        @foreach (var file in files)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mb-3">
                <a id="@System.IO.Path.GetFileNameWithoutExtension(file)" class="menu-link d-block text-center text-decoration-none bg-white" href="@Url.Content(file)" target="_blank" title="Full Screen">
                    <img class="w-100 img-fluid mx-auto" data-src="@Url.Content(file)" alt="" />
                    <div class="text-black text-center pt-1">
                        @System.IO.Path.GetFileNameWithoutExtension(file)
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<script>
    $("body").css("background-image", "url('../@Url.Content(backgroundImage)')");
</script>


@* <script>
    hideCurrentMenuSelection('@viewName');

    function hideCurrentMenuSelection(viewName) {
        var elements = document.querySelectorAll('.menu-item');
        elements.forEach(function (element) {
            if (element.getAttribute('data-viewName') === viewName) {
                element.style.display = 'none';

            } else {
                element.style.display = '';

            }
        });
    }
</script> *@

