<!-- Shared Index -->
@{
    ViewBag.Title = ViewData["ViewName"];

    string currentController = ViewContext.RouteData.Values["controller"]?.ToString() ?? "Home";
    
    // The background image (defaults to background.webp, but .png and .jpg are also valid extensions)
    string backgroundImage = $"gallery/{currentController}/background.webp";

    // Checks to ensure a file named "background" exists with one of the listed extensions and then uses
    // the first matched filename based on the listing order below to create the correct imagePath string.
    string[] imageExtensions = { ".webp", ".png", ".jpg" };

    // Loop through possible extensions
    foreach (var extension in imageExtensions)
    {
        var imagePath = $"gallery/{currentController}/background{extension}";
        if (System.IO.File.Exists(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", imagePath)))
        {
            // There is a Match
            backgroundImage = imagePath;
            break;
        }
    }
}

<h2 class="text-center">
    @currentController Galleries
</h2>

<partial name="GalleryMenu" />


<!-- Replaces the background-image to: "../gallery/{currentController}/background.{extension}" where extension
 is either webp, png, or jpg); no image is shown if file does not exist -->
<script>
    $("body").css("background-image", "url('../@Url.Content(backgroundImage)')");
</script>

