@{
    // Controller and Folder to read
    string currentController = ViewContext.RouteData.Values["controller"]?.ToString() ?? "Home";
}

<!-- Heading -->
<h2 class="text-center">
    @currentController Galleries
</h2>

<!-- Folders Menu -->
<partial name="_Menu" />

