@{
    string currentController = ViewContext.RouteData.Values["controller"]?.ToString() ?? "Home";
    
    string backgroundImage = "gallery/bakground.webp";
    string[] imageExtensions = { ".webp", ".png", ".jpg" };      
    foreach (var extension in imageExtensions)
    {
        var imagePath = $"gallery/{currentController}/background{extension}";
        if (System.IO.File.Exists(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", imagePath)))
        {
            backgroundImage = imagePath;
            break;
        }
    }    
}

<h2 class="text-center">
    @currentController Galleries
</h2>

<partial name="GalleryMenu" />

<script>
    $("body").css("background-image", "url('../@Url.Content(backgroundImage)')");
</script>

