@{
    string currentController = ViewContext.RouteData.Values["controller"]?.ToString() ?? "Home";   
    string backgroundImage = $"../gallery/{currentController}/background.webp";
}

<h2 class="text-center">
    @currentController Galleries
</h2>

<partial name="GalleryMenu" />

<script>
    $("body").css("background-image", "url('@Url.Content(backgroundImage)')");
</script>
