#image-container {
    display: none;  /* using Lazy Wait */
    flex-wrap: wrap;
    justify-content: center;
}

    #image-container a {
        margin-right: 10px;
        border: 2px solid transparent;
        padding: 4px;
        display: flex;
    }

        #image-container a:hover {
            border-color: green;
        }

.image-wrapper {
    color: white;
    margin: 10px;
    position: relative;
}

    .image-wrapper:hover img {
        color:greenyellow;
        border: 2px solid green;
        padding: 4px;
    }

    .image-wrapper:hover .loading-overlay {
        visibility: hidden;
    }

img {
    max-height: 180px;
    cursor: pointer;
    transition: border 0.3s ease-in-out;
}
