/* General Custom Html stuff */
body {
    overflow-y: scroll;
    line-height: 1;
    padding-top: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/* make everything a borderbox */
* {
    box-sizing: border-box;
}

/* Used by Auto Top function Must be #ID : Used by JS document.getElementById */
#my-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: default;
    padding: 8px 24px;
    border-radius: 4px;
}

    #my-button:hover {
        background-color: #555;
    }

    #my-button:active,
    #my-button:focus {
        background-color: red;
    }

/* Image Gallers Stuff */
#image-container {
    display: none;  /* using Lazy Wait */
    flex-wrap: wrap;
    justify-content: center;
}

    #image-container a {
        margin-right: 10px;
        border: 2px solid transparent;
        padding: 4px;
        display: flex;
    }

        #image-container a:hover {
            border-color: green;
        }

.image-wrapper {
    color: white;
    margin: 10px;
    position: relative;
}

    .image-wrapper:hover img {
        color:greenyellow;
        border: 2px solid green;
        padding: 4px;
    }

    .image-wrapper:hover .loading-overlay {
        visibility: hidden;
    }

img {
    max-height: 180px;
    cursor: pointer;
    transition: border 0.3s ease-in-out;
}

a {
    text-decoration: none;
    border: 1px solid transparent; /* Use 1px border for both normal and hover states */
    border-radius: 5px; /* Add border-radius for curved corners */
    transition: color 0.3s ease, border-color 0.3s ease, font-weight 0.3s ease; /* Add transitions for a smoother effect */
    padding: 5px; /* Add padding for better visual appearance */
}

    /* Hover styles for all links */
    a:hover {
        border-color: greenyellow !important;
        font-weight: bold !important;
    }

    /* Selected styles for all links */
    a.selected {
        border-color: transparent !important;
        font-weight: bold !important;
    }
