<!-- Chopra Index.cshtml -->

<container id="HomeContent">
    <div class="row">
        <div class="col-12">
            <div class="center">
                <p class="fw-bold pb-4 fs-2 text-center">Videos for Dr Chopra</p>
                <p class="fw-bold pb-4 fs-3 text-center">Turn your speaker volume up!</p>
                @* <div class="pb-4 text-center">
                    <p class="fw-bold fs-4">Video 1 (Click video to play)</p>
                    <video id="videoPlayer" class="bg-black my-card-radius" style="width: 80%;" controls="controls">

                        <source src="~/videos/video1.mp4#t=20.0" type="video/mp4" />
                    </video>
                </div>
                
                <div class="pb-4 text-center">
                    <p class="fw-bold fs-4">Video 2 (Click video to play)</p>
                    <video id="videoPlayer" class="bg-black my-card-radius" style="width: 80%;" controls="controls">
                        <source src="~/videos/video2.mp4#t=90.0" type="video/mp4" />
                    </video>
                </div>

                <div class="pb-4 text-center">
                    <p class="fw-bold fs-4">Video 3 (Click video to play)</p>
                    <video id="videoPlayer" class="bg-black my-card-radius" style="width: 80%;" controls="controls">
                        <source src="~/videos/video3.mp4#t=20.0" type="video/mp4" />
                    </video>
                </div> *@

            </div>
        </div>
    </div>
</container>



