<!-- File: Views/Home/Coasters.cshtml -->
@{
    ViewData["Title"] = "Coasters Gallery";    
}

<!-- Style Section -->
<style>

   /*  div a {
        color: black;
        border: 2px solid transparent;
        padding: 4px;
        font-size: 24px;
        text-decoration: none;
    }

        div a:hover {
            color: darkgreen;
            border-color: lightgreen;
        } */

</style>

<h2 class="text-center">Links to Laser Coaster Images <br /> by Catagory</h2>

<partial name="_image-menu">
