<!-- File: Views/Home/Images.cshtml -->
@model IEnumerable<string>

@{
    ViewData["Title"] = "Image Gallery";
}

<h1>@ViewData["Title"]</h1>

<div id="image-container">
    @foreach (var file in Model)
    {
        <img style="height:200px;" src="/images/coasters/@Url.Content(file)" alt="@file" />
    }
</div>

<div>
    <a asp-action="Coasters">View Coasters</a>
</div>

