@{
    // Read the files
    var viewName = ViewData["ViewName"]?.ToString() ?? "";
    var contentPath = System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "Content", "Images");
    var files = Directory.GetFiles(System.IO.Path.Combine(contentPath, viewName), "*.png")
    .Select(file => $"~/{System.IO.Path.Combine("Content", "Images", viewName, System.IO.Path.GetFileName(file)).Replace("\\", "/")}")
    .ToList();
}

<div class="container">

    <!-- Go to Top Button -->
    <button onclick="topFunction()" id="top-button" title="Go to top">Top</button>

    <!-- Folders Menu -->
    <partial name="_FoldersMenu" />

    <!-- Heading -->
    <div class="text-center mt-3">
        <h2>@viewName Images</h2>
    </div>

    <!-- Image Files -->
    <div id="image-container" class="row">
        @foreach (var file in files)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mb-3">
                <a class="d-block text-center" href="@Url.Content(file)" target="_blank" title="ImageLink" >
                    <img class="menu-link w-100 img-fluid mx-auto" data-src="@Url.Content(file)" alt="" />
                </a>
            </div>
        }
    </div>

</div>

<script>    
    hideCurrentMenuSelection('@viewName');

    function hideCurrentMenuSelection(viewName) {
        var elements = document.querySelectorAll('.menu-item');
        elements.forEach(function (element) {
            if (element.getAttribute('data-viewName') === viewName) {
                element.style.display = 'none';
            } else {
                element.style.display = '';
            }
        });
    }
</script>
