@{
    var viewName = ViewData["ViewName"]?.ToString() ?? "";
    var contentPath = System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "Content", "Images");
    var files = Directory.GetFiles(System.IO.Path.Combine(contentPath, viewName), "*.png")
                         .Select(file => $"~/{System.IO.Path.Combine("Content", "Images", viewName, System.IO.Path.GetFileName(file))}")
                         .ToList();
}

<!-- Got to Top Button -->
<button onclick="topFunction()" id="my-button" title="Go to top">Top</button>

<!-- Heading -->
<div class="text-black text-center fs-3 pt-0 ps-2 pe-2 pb-2">@viewName Images</div>

<!-- Folders Menu -->
<partial name="_FoldersMenu" />

<!-- Image Files -->
<div id="image-container">

    <!-- Loop through the files and create a link for each one -->
    @foreach (var file in files)
    {
        <a class="ms-auto me-auto" href="@Url.Content(file)" target="_blank" title="ImageLink">
            <img data-src="@Url.Content(file)" alt="" />
        </a>
    }
</div>
