@{
    var viewName = ViewData["ViewName"]?.ToString() ?? "";
    var contentPath = System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "Content", "Images");
    var files = Directory.GetFiles(System.IO.Path.Combine(contentPath, viewName), "*.png")
    .Select(file => $"~/{System.IO.Path.Combine("Content", "Images", viewName, System.IO.Path.GetFileName(file)).Replace("\\", "/")}")
    .ToList();
}

<div class="container">

    <!-- Go to Top Button -->
    <button onclick="topFunction()" id="my-button" title="Go to top" class="btn btn-primary">Top</button>

    <!-- Heading -->
    <div class="text-center mt-3">
        <h2>@viewName Images</h2>
    </div>

    <!-- Folders Menu -->
    <div class="row mb-3">
        <div class="col">
            <partial name="_FoldersMenu" />
        </div>
    </div>

    <!-- Image Files -->
    <div id="image-container" class="row">
        @foreach (var file in files)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3 mb-3">
                <a href="@Url.Content(file)" target="_blank" title="ImageLink" class="d-block text-center">
                    <img class="menu-link img-fluid mx-auto" data-src="@Url.Content(file)" alt="" />
                </a>
            </div>
        }
    </div>

</div>