@{
    ViewBag.Title = ViewData["ViewName"];
    var siteName = "Illustrate";

    string backgroundImage = "gallery/bakground.webp";
    string[] imageExtensions = { ".webp", ".png", ".jpg" };    
    foreach (var extension in imageExtensions)
    {
        var imagePath = $"gallery/background-home{extension}";
        if (System.IO.File.Exists(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", imagePath)))
        {
            backgroundImage = imagePath;
            break;
        }
    } 
}

<div class="bg-transparent mb-3">
    <p class="text-light text-center fs-3"><span class="text-nowrap">@siteName is a Website,</span> <span class="text-nowrap">Subdomain, and Subsite</span> <span class="text-nowrap">Host and Developer</span> <span class="text-nowrap">for a number of great sites.</span></p>
</div>

<script>
    $("body").css("background-image", "url('@Url.Content(backgroundImage)')");
</script>