@{
    ViewBag.Title = ViewData["ViewName"];
    var siteName = "Illustrate";
}

<div class="bg-transparent mb-3">
    <p class="text-light text-center fs-3"><span class="text-nowrap">@siteName is a Website,</span> <span class="text-nowrap">Subdomain, and Subsite</span> <span class="text-nowrap">Host and Developer</span> <span class="text-nowrap">for a number of great sites.</span></p>
</div>

<script>
    $("body").css("background-image", "url('../gallery/background.webp')");
</script>