@{
    ViewBag.Title = "Home Page";
}

@{
    string siteName = "Illustrate Net";
}

<div class="card bg-dark mb-3">   
    <p class="card-header text-light text-bolder text-center fs-3"><span class="text-nowrap">@siteName is a Website,</span> <span class="text-nowrap">Subdomain, and Subsite</span> <span class="text-nowrap">Host and Developer</span> <span class="text-nowrap">for a number of great sites.</span><br /><span class="fs-5">An illustration of a dynamic folder image display is on the menu.</span></p>
</div>

