@{
    // change these variable strings to choose other locations and file types.
    var myTargetFolder = "Religious";

    var myTargetPath = "images/coasters/";
    var myFilter = "*.png";

    // Read  the folder's filenames including path into the files[] array.
    string myTarget = string.Format("{0}/{1}", myTargetPath, myTargetFolder);
    string myDirectory = string.Format("wwwroot/{0}", myTarget);

    var files = await Task.Run(() =>
    Directory.GetFiles(System.IO.Path.Combine(Directory.GetCurrentDirectory(), myDirectory), myFilter)
        .Select(file => $"~/" + myTarget + $"/{System.IO.Path.GetFileName(file)}")
        .ToList()
        );

    // Page Tile
    ViewData["Title"] = myTargetFolder;
}

<!-- View Heading -->
<h1>@myTargetFolder Images</h1>

<!-- images Section -->
<div id="image-container">

    <!-- Loop through the files array and display the contents -->
    @foreach (var file in @files)
    {
        <!-- image-wrapper -->
        <div class="image-wrapper">

            <!-- opens image in new screen -->
            <a href="@Url.Content(file)" target="_blank">

                <!-- Image to display-->
                <img data-src="@Url.Content(file)" alt="" />
            </a>
        </div>
    }
</div>

<!-- Menu for other selections Section -->
<partial name="_image-menu"/>

<!-- Script Section -->
<script defer>
    loadImages();
</script>
